:root {
    /* font families */
    --ff-title: "Playfair Display", serif;
    --ff-base: "Roboto", sans-serif;
    --ff-hero: "Outfit", arial, sans-serif;

    /* site colours */
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #d8eabb;
    --clr-secondary: #bfece3;
    --clr-accent: #ff7750;
}

.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #fdffc4;
    --clr-primary: #00332a;
    --clr-secondary: #00332a;
    --clr-accent: #ff7750;
}
    
*,
*::before,
*::after {
    /* includes padding and border in total dimensions of elements */
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(110deg, var(--clr-primary), var(--clr-secondary));
    height: 100vh;
    font-family: var(--ff-base);
    color: var(--clr-dark);
    margin: 0;
    padding-inline: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

ul {
    list-style: none;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 400px;
}

.hero__header {
    font-family: var(--ff-title);
    color: var(--clr-dark);
    font-size: 3rem;
}

section {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 625px) {
    /* mobile first approach - anything for desktop goes here */
    main {
        width: 80%;
        max-width: 1000px;
    }

    section {
        padding: 3rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .hero__header {
        font-size: 5rem;
    }
}

button {
    cursor: pointer;
    align-self: flex-start;
    border: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
}











/* BUMPF
alternate colours:
    --clr-primary: #d8eabb;
    --clr-secondary: #bfece3;
    background-color: #abbdaf;

*/