:root {
    /* font families */
    --ff-title: "Playfair Display", serif;
    --ff-base: "Roboto", sans-serif;
    --ff-hero: "Outfit", arial, sans-serif;

    /* site colours */
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #d8eabb;
    --clr-secondary: #bfece3;
    --clr-accent: #ff7750;
}

.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #fdffc4;
    --clr-primary: #00332a;
    --clr-secondary: #00332a;
    --clr-accent: #ff7750;
}
    
*,
*::before,
*::after {
    /* includes padding and border in total dimensions of elements */
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(110deg, var(--clr-primary), var(--clr-secondary));
    position: relative;
    font-family: var(--ff-base);
    color: var(--clr-dark);
    font-size: clamp(1rem, 1.25vw, 1.2rem);
    margin: 0;
}

section {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;    
    margin: 0 auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 4.5rem;
    overflow: hidden;
    position: absolute;
}

ul {
    list-style: none;
}

/* animation for toggling menu open. 
   Following Kevin Powell tut https://www.youtube.com/watch?v=R00QiudbD4Y*/
.open-menu {
    background: transparent;
    border: 0;
}

.open-menu:hover {
    cursor: pointer;
    opacity: .8;
}

.open-menu .line {
    transition: 
    y 300ms ease-in 300ms, 
    rotate 300ms ease-in,
    opacity 0ms 300ms
    ;
    transform-origin: center;
}

.open-menu[aria-pressed='true'] .line {
    transition: 
    y 300ms ease-in, 
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms
    ;
}

.open-menu[aria-pressed='true'] :is(.first, .third) {
    y: 45;
}

.open-menu[aria-pressed='true'] .first {
    rotate: 45deg;
}

.open-menu[aria-pressed='true'] .third {
    rotate: -45deg;
}

.open-menu[aria-pressed='true'] .second {
    opacity: 0;
}

/* animating the opening and closing of the site links menu */
.site-links {
    position: absolute;
    transform: translate(-120px, 50px);
    transition: 300ms ease-in 300ms;
}

.site-links[data-open='true'] {
    position: absolute;
    transform: translate(-28px, 50px);
}

.hero {
    padding-block: 8rem;
}

.hero__content {
    display: flex;
    padding-top: 0;
    justify-content: space-evenly;
}

.hero__header {
    font-family: var(--ff-title);
    color: var(--clr-dark);
    font-size: clamp(4rem, 6vw, 10rem);
}

.hero__body {
    width: 80%;
}

.hero__portrait {
    align-self: flex-start;
    width: 100%;
}

.hero__portrait > img {
    width: 80%;
    min-width: 200px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-block: 2rem;
}

.project__image {
    flex: 1;
    border: 1px solid black;
    background-color: white;
    width: clamp(2rem, 4vw, 70%);
    height: auto;
}

.project__text {
    flex: 1;
    border: 1px solid black;
    max-width: 50%;
    padding: 1rem;
    background-color: white;
}

.center {
    width: 70%;
    max-width: 1000px;
}

@media (min-width: 625px) {
    /* mobile first approach - anything for desktop goes here */

    section {
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    .hero {
        padding: 6rem 0rem 10rem;
    }

    .hero__content {
        justify-content: space-between;
        align-items: flex-start;
    }

    .project {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

}

.dark-mode {
    cursor: pointer;
    align-self: flex-start;
    border: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
}

/* animated side-scrolling banner */
.banner {
    max-width: 100%;
    background-color: white;
    overflow: hidden;
}


.banner__scroll {
    padding-block: 2rem;    
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 2rem;
    
    font-family: var(--ff-title);
    color: var(--clr-accent);
    font-size: 5rem;
    font-weight: 100;
    padding-inline: 0;
}

.banner[data-animated=true] .banner__scroll {
    width: fit-content;  
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1rem));
    }
}







/* BUMPF
alternate colours:
    --clr-primary: #d8eabb;
    --clr-secondary: #bfece3;
    background-color: #abbdaf;
    chat GPT orange: rgb(254, 118, 0)
    chat GPT yellow (sort of): #fffcdb

*/